.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;

  background: rgba(0,0,0,.05);
  border-bottom: 1px solid #333;

  .quantity {
    width: 10%;
    padding: 10px;
  }

  .title {
    width: 30%;
    padding: 10px;
  }

  .info {
    width: 30%;

    p {
      padding-left: 10px;
    }
  }

  .price {
    width: 20%;
    padding: 10px;
  }
}
