.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.title {
  width: 25%;
}

.info {
  width: 75%;

  p {
    padding-left: 10px;
  }
}
