@import "./colors";

body {
  color: $dark;
}

fieldset {
  border: 0;
  padding: 0.25rem 0;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem 0.25rem;
  transition: 0.1s ease-in-out;

  &:focus {
    outline: 0;
    border: 1px solid #3B75AA;
  }
}

label {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}
