$blue: #0982E9;
$red: #E64B42;
$green: #35CF51;
$dark: #32384A;
$navy: #14364C;

$lightest: #FAFAFB;
$lighter: lighten($dark, 50%);
$light: lighten($dark, 20%);

.password {
  position: relative;
}

.bars {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.warning {
  right: 0;
  margin-top: 2px;
  position: absolute;
  font-size: 0.85rem;
}

.bad {
  composes: warning;
  color: $red;
}

.good {
  composes: warning;
  color: $green;
}
