.wrapper {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.download {
  margin-top: 1rem;
}

.container {
  margin-top: 1rem;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

.wrapperLoading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.bottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.search {
  margin-top: 10px;

  button {
    width: 100%;
  }
}

.link {
  text-decoration: none;
}
